.main-div {
  background-color: #999999;
  color: white;
}

.sider-folder-show {
  margin-left: 190px;
  width: 790px;
  height: 500px;
  margin-top: -500px;
  background-color: #999999;
  /* margin: auto; */
  /* border: 5px; */
}

.sider-show-folder-tree-contniner {
  width: 180px;
  height: 500px;
  /* margin-left: -3px; */
  background-color: #999999;
  margin-top: 10px;
  color: white;
  /* margin: auto; */
}

.navbar-top {
  height: 50px;
  background-color: #999999;
  border: 1px;
}

.niner-navers-top {
  margin-top: -6px;
}

.footer-div {
  height: 100px;
}

.cards {
  height: 50px;
}

.name {
  margin-top: -5px;
}

.date {
  margin-top: -10x;
}

/* //three dots */
.menu-nav {
  margin-top: -55px;
  padding-left: -60px;
  display: flex;
  justify-content: space-between;
}

.menu-item {
  width: 0px;
  color: white;
  padding: 3px;
  /* margin-left: -100px; */
}

.three-dots:after {
  cursor: pointer;
  color: white;
  content: '\2807';
  font-size: 20px;
  padding: 0 5px;
}

ax {
  text-decoration: none;
  color: white;
}

a div {
  padding: 5px;
}

.dropdown {
  margin-left: -70px;
  /* margin-top: -10px; */
  position:absolute;
  right: 10px;
  background-color: #262727;
  color: white;
  outline: none;
  opacity: 0;
  border: 1px;
  z-index: -1;
  max-height: 0;
  transition:10ms;
  float: left;
  opacity: 1s;
  /*z-index0*/max-height: 5s;
  -webkit-transition:10ms;
  -moz-transition:10ms;                                                   
  -ms-transition:10ms;
  -o-transition:10ms;
}

.dropdown-container:focus {
  outline: none;
}

.dropdown-container:focus .dropdown {
  opacity: 1;
  z-index: 100;
  max-height: 100vh;
  opacity: 0.2s;
  z-index: 0.2s;
  max-height: 0.2s;
  -webkit-transition: opacity 0.2s, z-index 0.2s;
  -moz-transition: opacity 0.2s, z-index 0.2s, ;
  -ms-transition: opacity 0.2s, z-index 0.2s, ;
  -o-transition: opacity 0.2s, z-index 0.2s, ;
}

/* //sortting button  */
.sorting-dropdown {
  text-decoration: none;
}

.rows {
  --bs-gutter-x: 4.2rem;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-1.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
  flex-direction: row;
  justify-content: flex-start;
  align-content: space-between;
  align-items: baseline;
  align-items: center
}

.rows4 {
  --bs-gutter-x: 0.2rem;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1.5 * var(--bs-gutter-y));
  margin-right: calc(-1.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
  flex-direction: row;
  justify-content: flex-start;
  align-content: space-between;
  align-items:center;
}

/* cursor: pointer; */
.btns {
  cursor: pointer;
  margin-left: 10px;
  padding: 7px;
}

.from-open {
  width: 500px;
  height: 200px;
  text-align: center;
  position: relative;
}

.inputext {
  width: 80px;
  height: 10px;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
}

/* modle open from  */
* {
  box-sizing: border-box;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 7px;
  padding-left: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* resize: vertical; */
}

label {
  /* padding: 12px 12px 12px 0; */
  display: inline-block;
}

input[type=submit] {
  background-color: #262727;
  color: white;
  /* padding: 3px 5px; */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /* float: right; */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

input[type=submit]:hover {
  background-color: #45a049;
  margin-left: -10px;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row.drow:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

  .col-25,
  .col-75,
  input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
.serachbar{
  width:246px;
  margin-left: 540px;
  height:40px;
  padding:-300px;
  background-color: gray;
}
/* // pules icon  right click*/
/* * //three dots */ */
.menu-nav {
  margin-top: -55px;
  padding-left: -60px;
  display: flex;
  justify-content: space-between;
}

.menu-item {
  width: 0px;
  color: white;
  padding: 3px;
  /* margin-left: -100px; */
}

.three-dots:after {
  cursor: pointer;
  color: white;
  font-size: 20px;
  padding: 0 5px;
}

ax {
  text-decoration: none;
  color: white;
}

a div {
  padding: 5px;
}

.sdropdown {
  margin-left: -70px;
  margin-top: -13px;
  position: absolute;
  right: 550px;
  background-color: #5e6360;
  color: white;
  outline: none;
  opacity: 0;
  border: 1px;
  max-height: 0;
  /* transition: 10ms; */
  float: left;
  opacity: 1s;
  max-height: 5s;
  -webkit-transition: 10ms;
  -moz-transition: 10ms;
  -ms-transition: 10ms;
  -o-transition: 10ms;
}

.sdropdown-container:focus {
  outline: none;
}

.sdropdown-container:focus .sdropdown {
  opacity: 1;
  max-height: 100vh;
  opacity: 0.2s;
  max-height: 0.2s;
  -webkit-transition: opacity 0.2s, z-index 0.2s;
  -moz-transition: opacity 0.2s, z-index 0.2s, ;
  -ms-transition: opacity 0.2s, z-index 0.2s, ;
  -o-transition: opacity 0.2s, z-index 0.2s, ;
}
